<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">CarEzy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
           
            
            <li class="nav-item">
              <a type="button" class="btn btn-outline-info" href="/sell">Sell</a>
            </li>
            
            <li class="nav-item">
              <a type="button" class="btn btn-outline-success" href="/buy">Buy</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="col-md-4 mt-4 ">
    <form>
    
        <legend>Car Selling Page</legend>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Enter manufacturer name</label>
          <select class="form-select" id="carname" name="carname">
            <option>------</option>
            <option>Maruti Suzuki</option>
            <option>Hyundai</option>
            <option>Volkswagen</option>
            <option>Skoda</option>
            <option>Kia</option>
            <option>Audi</option>
            <option>Ford</option>
            <option>Honda</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Enter manufacture Year of car</label>
          <input type="text" class="form-control" id="caryear" name="caryear" required>
          
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Number of Seats</label>
          <select  class="form-select" id="carseats" name="carseats" required>
            <option>------</option>
            <option>4</option>
            <option>6</option>
            
          </select>
        </div>

        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Fuel Type</label>
          <select class="form-select" id="carfuel" name="carfuel" required>
            <option>------</option>
            <option>Petrol</option>
            <option>Deisel</option>
            
          </select>
        </div>

        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Mileage</label>
          <input type="number" class="form-control" name="carmileage" required>
          
        </div>

        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Qoute Price</label>
          <input type="number" class="form-control" name="carprice">
          
        </div>

        


       
        <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
